*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:100%;
    font-size: 14px;
    font-weight: normal;
}
.background{
    width: 100%;
    height: 100%;
    background-image: url(img/john32.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relarive;
    overflow-y: auto;
}
.nav{
    width: 350px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 0;
}
.nav a{
    text-decoration: none;
    font-size:28px;
    font-family: Coalition;
    font-weight: bold;
    height: 90px;
    margin: 10px 0;
    float: left;
	display: inline-block;
    background-color: black;
    color: white;
    line-height: 90px;
    text-align: center;
	transition: 300ms;

}
.nav a:hover{
	 background-color: white;
    color: black;
	 width: 100%;
}
.a{
	width: 95%;
}

.b{
	width: 85%;
}
.c{
	width: 80%;
}
.d{
width: 90%;
}





